<% if @list.photo.attached? %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @list.photo.key %>)">
    <h1 class="list-name" style="font-size:60px;" ><strong><%= @list.name %></strong></h1>
  </div>
<% else %>
 <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    <h1 class="list-name" style="font-size:60px;" ><strong><%= @list.name %></strong></h1>
  </div>
<% end %>



<div class="d-flex justify-content-between">
  <p class="btn btn-primary btn-lg" ><%= link_to "back", lists_path %></p>
  <p class="btn btn-primary btn-lg"><%= link_to "Add a bookmark", new_list_bookmark_path(@list) %></p>
</div>
<div class="cards">
<% @list.bookmarks.each do |bookmark| %>
  <div class="card-trip">
    <img src="<%= bookmark.movie.poster_url %>" alt="">
    <div class="text-space">
      <h2><%= bookmark.movie.title %></h2>
      <p><%= bookmark.movie.overview %></p>
      <p>Rating: <strong><%= bookmark.movie.rating %>/10</strong></p>
    </div>
  </div>
<% end %>
</div>
