<h1><%= @list.name %></h1>

<% @bookmarks.each do |bookmark| %>
  <p><%= bookmark.movie.title %></p>
  <p><%= bookmark.movie.overview %></p>
  <p><%= bookmark.movie.poster_url %></p>
  <p><%= bookmark.movie.title %></p>
<p><%= link_to "creat bookmark", new_list_bookmark_path(bookmark) %></p>
<% end %>

<p><%= link_to "back", lists_path %></p>
